
/* .table-scrollable { 
    max-height: //300px; Maximale Höhe des scrollbaren Bereichs
    overflow-y: auto; //Vertikales Scrollen aktivieren
    display: block; //Blockdarstellung für Scrollbarkeit
 } */
/* .table-scrollable thead { 
    position: sticky; Fixieren des Tabellenkopfs 
    top: 0; Tabellenkopf bleibt oben 
    z-index: 1; Sicherstellen, dass thead über tbody liegt 
    background-color: #f8f9fa; Hintergrundfarbe für bessere Sichtbarkeit 
 } */



.TabContent{
    background-color: aqua;
    padding: 1vw;
}
.TabContent1{
    background-color: rgb(158, 158, 255);
    padding: 1vw;
}
.TabContent2{
    background-color: rgb(255, 158, 158);
    padding: 1vw;
}
.TabContent3{
    background-color: rgb(158, 255, 158);
    padding: 1vw;
}
.TabContent4{
    background-color: rgb(158, 158, 158);
    padding: 1vw;
}


body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.Assessors{
    left: 40%;
    top: 10%;
    display: none;
    z-index: 12;
    box-sizing: border-box;
    float: none;
    position: absolute; /*dafür muss das parent- element auf relativ stehen*/
    height: 20%;
    background-color: lightgray;
    width: 26%;
    overflow: hidden;
}
.Assessors div{
    float: none;
}

.SelectionButton{
    height: 2vw;
    width: 10vw;
    margin: 1vw;
    background-color: chartreuse;
    border-radius: 0.5vw;
}
.ButtonBack{
    height: 2vw;
    width: 10vw;
    margin: 1vw;
    background-color: chartreuse;
    border-radius: 0.5vw;
    /* position: absolute; */
    top: 1%;
    left: 1%;
}
.ClientSelection{
    box-sizing: border-box;
    position:absolute;
    float:left;
    width: 50%;
    height: 5%;
    top: 17%;
    margin-left: 1vw;
}

 
div{
    float: none;
}
.rightSite{
    box-sizing: border-box;
    position: absolute;
    float:left;
    width: 50%;
    margin: 0;
    /* right: 50%; */
    left: 50%;
    top: 20%;
}
.tdELDiBHistory{
    background-color: #e1ffcd;
    border-style: groove;
    padding: 1vw;
}
footer
{
	box-sizing: border-box;
	position: absolute;
	/* bottom: 0%; */
	width: 100%;
	height: 5%;
	background: #F1F3F4;
	top: 95%;
	overflow: hidden;
}
/* styleSmal.css */
.tableFixHead {
	overflow-y: auto;
	 height: 60vh; 
	}
  
  .tableFixHead thead th {
	position: sticky;
	top: 0;
	background-color: #fff; /* Hintergrundfarbe des Tabellenkopfs */
	z-index: 1;
  }
/*	Supportplan */
#SupportPlan{
    display: none;
    z-index: 10;
    box-sizing: border-box;
    float: none;
    position: absolute;
    background-color: antiquewhite;
    height: 90%;
    width: 100%;
    margin: 0;
}
#SupportPlan div{
    float: left;
    position: relative;
    width: 100%;
    /* margin: 0; */
}
#CloseSelectSupportPlan{
    display: none;
}
#SelectSupportPlan{
    font-size: calc(var(--FontSize)*2);
}
#CloseSelectSupportPlan{
    position: absolute;
    left: 25%;
    top: -1%;
    height: 4vw;
    width: 11vw;
}
